.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
~$gression and Matching Paper DRAFT 5.docx
AustinStuart15.SMMR.FullMatchingBinaryOutcomes.pdf
~*
.DS_Store

# all drafts
2018-06-19 BERT COMMENTS ON Regression and Matching Updated DRAFT 1.docx
Regression and Matching Paper DRAFT 5.docx
Regression and Matching Paper DRAFT 5.docx
Regression and Matching Paper DRAFT 5.pdf
Regression and Matching Paper DRAFT 6 Albert comments.docx
Regression and Matching Paper DRAFT 6.docx
Regression and Matching Paper DRAFT 6.pdf
Screen Shot 2018-02-17 at 11.54.54 pm.png
Regression-and-matching-paper.docx


# intermediate scripts
Bert's Simulations_ATT.R
Final Simulation rep_1000.r
Final-Simulations-Albert.R
Trisha_Simulations_021818.R





